server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_REPO_URI:file:///tmp/config-repo}
          clone-on-start: true
          default-label: main
        native:
          search-locations: ${CONFIG_REPO_PATH:classpath:/config}

logging:
  level:
    root: INFO
    com.indichess.config: DEBUG
